@import "variables";

.settingsBar {
  position: absolute;
  top: $toolbar-height;

  height: $toolbar-height;
  width: 100%;
  padding: 0 10px;

  display: flex;
  align-items: center;

  background-color: $white-color;
  box-shadow: 0 4px 5px $shadow-color;

  & label {
    margin-right: 10px;
  }

  & input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  & input[type=number] {
    -moz-appearance:textfield;
  }
}

